// preset colors
$primary: #FFFFFF;
$secondary: #000000;
$accent: #F2F2F2;
$tertiary: #007bff;
$warn: #dc3545;
$accentDark: #333333;
$tertiaryDark: #0056b2;
$warnDark: #b5231d;

// centering box
#background_box {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: $accent;
}
h1,p{
  color:$primary;
}
// navBar and main content
.container {
  // border clearly distinguish the border between draeer and main content
  background: $tertiary;
  height: 100vh;
}
// main content specific
.content{
  border-top: 3px solid $accent;
  border-left: 3px solid $accent;
  padding: 1rem;
  padding-left: 5px;
}
// navBar specific
.navbar{
  border-top: 3px solid $accent;
  border-right: 3px solid $accent;
  background: $tertiary;
  min-width: 6rem;
  padding-left: 15px;
  padding-top: 1rem;

}
