// preset colors
$primary: #326886;
$primaryDarker: #142944;
$primaryLighter: #839fb4;
$accent: #8293c6;
$accentDarker: #2b2453;
$accentLighter: #cfd8dc;
$tertiary: #d8ade6;
$warn: #c64968;
$background: #001633;

// centering box
#background_box {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: $accentLighter;
}
h1,p{
  color:$accentDarker;
}
// navBar and main content
.container {
  // border clearly distinguish the border between draeer and main content
  background: #eee;
}
// main content specific
.content{
  padding: 1rem;
  padding-left: 5px;
}
// navBar specific
.navbar{
  min-width: 6rem;
  padding-left: 15px;
  padding-top: 1rem;

}
