<mat-card>
  <mat-card-title-group>
    <mat-card-title>
      {{cardInfo.name}}
      </mat-card-title>
    <mat-card-subtitle>
      Created: {{cardInfo.createDate}}
      &nbsp;&nbsp;
      Updated: {{cardInfo.lastUpdated}}
    </mat-card-subtitle>
    <img mat-card-md-img class="card-img" src="{{cardInfo.imgLink}}" alt="Alt img text">
  </mat-card-title-group>
  <mat-card-content>
    <p>{{cardInfo.content}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">
      <mat-icon fontIcon="thumb_up"></mat-icon>
      LIKE &nbsp; {{cardInfo.likes}}</button>
    <button mat-flat-button color="accent">
      <mat-icon fontIcon="share"></mat-icon>
      SHARE</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-chip *ngFor="let chip of cardInfo.tags">#{{chip}}</mat-chip>
  </mat-card-footer>
</mat-card>
